<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Create an Explosions! Character</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">

      <form class="form-signin" id="char-form" role="form" method="post">
        <h2 class="form-signin-heading">Create a new character</h2>
        <input type="username" class="form-control" placeholder="Charname" name="charname" required autofocus>
        <button class="btn btn-primary btn-block" type="submit">Create</button>
      </form>

    </div>

    <script src="/static/jquery/jquery-1.10.2.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script>
        $("#char-form").submit(function(event) {
            alert("TEST");

            event.preventDefault();
            var objs = $(this).serializeArray();

            var data = {};
            for(var i = 0; i < objs.length; i++) {
                var obj = objs[i];
                data[obj.name] = obj.value;
            }

            alert("Script");

            $.ajax({
                type: "POST",
                url: "/character/create",
                data: JSON.stringify(data),
                success: function(data, _1, _2) {
                    alert("success");
                    if(data.result) {
                        window.location.replace("/");
                    } else {
                        window.location.replace("/characterFailed");
                    }
                },
                contentType: 'application/json',
                dataType: "json"
            });
        });
    </script>
  </body>
</html>
