<!DOCTYPE html>
<html>
    <head>
        <title>Hello World</title>
        <script src ="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.js"></script>
    </head>

    <body>
        <p>Hello World!</p>
    </body>

    <script>
        var x = {y: 5};
        var a = JSON.stringify(x);
        alert(a);
        $.ajax({
            type: "POST",
            url: "/json",
            data: a,
            success: function(data, _1, _2) { alert("Result: " + data.result) },
            contentType: 'application/json',
            dataType: "json"
        });
    </script>
</html>
