<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Explosions! the web page</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    
  </head>

  <body role="document">
	
    <div id="tabs">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Explosions!</a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="active"><a id="Home" href="#contents">Home</a></li>
                <li><a id="Leaderboard" href="leaderboard">Leaderboard</a></li>
                <li><a id="Items" href="items">Items</a></li>
                <li><a id="Marketplace" href="marketplace">Marketplace</a></li>
				<li><a id="Missions" href="missions">Missions</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <!--<li class="dropdown">
                  <a href="#Account" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a> -->
                  <li><a id="Account" href="login">Login</a></li>
                <!--</li>-->
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    
        <div id="contents">
        "Home page. News?"
        </div>
        <div id="YourCharacters">
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script> -->

    <script src="static/jquery/jquery-1.10.2.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/util.js"></script>
    
    <script src="static/jquery/jquery-ui-1.10.4.custom.js"></script>
    <script src="static/js/tabs.js"></script>
    <script>
    $(function() {
		createTabs("#tabs", "Home");
        // TODO: Remove these handlers
		/*
        var homehtml = "Home page. News?";

        $('#contents').ready(function() {
            $("#contents").html(homehtml);
        });

        $('#Home').on('click', function() {
            $('#contents').html(homehtml);
        });
        $('#Leaderboard').on('click', function() {
            $('#contents').html("Stats");
        });
        $('#Items').on('click', function() {
            $('#contents').html("Item Information");
        });
        $('#Marketplace').on('click', function() {
            $('#contents').html("Marketplace - Trade/Craft/Buy Items");
        });
		//We don't want to do this, this makes it so the user cannot use the back button to navigate back to the website
		//Also if we want a cool login, we could make it a modal dialog
        $("#Account").on('click', function() {
            window.location.replace("/login");
        });*/

        request("/player/current", {}, function(data, _1, _2) {
            if(data.result !== null) {
                var dropdown = '<li class="dropdown">';
                dropdown += '<a href="#Account" class="dropdown-toggle" data-toggle="dropdown"> ';
                dropdown += data.result;
                dropdown += ' <b class="caret"></b></a> ';
                dropdown += '<ul class="dropdown-menu"> ';
                dropdown += '<li><a id="Characters" href="#YourCharacters">Characters</a></li> ';
                dropdown += '<li class="divider"></li> ';
                dropdown += '<li><a id="Logout" href="#">Log out</a></li> ';
                dropdown += '</ul> ';
                dropdown += '</li> ';

                var $dropdown = $(dropdown);

                $("#Account").replaceWith($dropdown);

                $('#Logout').on('click', function() 
								{
                    request("/logoutRequest", {}, function(data, _1, _2) 
										{
                        window.location.replace("/");
                    });
                });

								
								
								/*** This bit gets tricky. We need to make an AJAX request for a Player's 
									characters, and then use the result of that AJAX request to make several 
									additional AJAX requests. ***/
								
                $('#Characters').on('click', function() 
								{		
									/** Initial AJAX Request for Characters **/
										var printHTML = "";
										var characters = new Array();			
										var inventories = new Array();						
										var ajaxRequests = new Array();
										
                    request("/character/getAll", {}, function(data, _1, _2) 
										{
                        for (var i=0; i < data['characters'].length; i++) 
												{
														var character = new Object();
														character.name = data['characters'][i][2];
														character.id   = data['characters'][i][0];
														
														characters.push(character);
                        }
												
									/** Once Initial AJAX Has Completed **/
												
                    }).done(function () 
										{										
												
												for (var i=0; i < characters.length; i++)
												{	
													/** Do several AJAX requests, storing the AJAX result in array **/
													
														ajaxRequests.push(request("/character/inventory", {charid: characters[i].id}, function(data, _1, _2)
														{
																var inventory = new Array();
																
																for (var j=0; j < data['inventory'].length; j++)
																{
																		var inventoryItem = new Object();
																		inventoryItem.name = data['inventory'][j][0];
																		inventoryItem.quantity = data['inventory'][j][1];
																		
																		inventory.push(inventoryItem);
																}
																inventories.push(inventory);
														}));
													
												} 
												
												/** Because we stored the AJAX requests in an array, we can wait
												  for all of them to finish and then print the HTML knowing we've
													got the rest of the object data that we need **/
												
												$.when.apply($, ajaxRequests).done(function ()
												{
														printHTML = "<h1>Your Characters:</h1> <br>";
														printHTML += "<ul>";
														for (var i=0; i < characters.length; i++)
														{ 
																printHTML += "<li>" + characters[i].name + "</li>";
																for (var j=0 ; j < inventories[i].length; j++)
																{
																		printHTML += "<ul><li>" + inventories[i][j].name + "[" + inventories[i][j].quantity + "]</li></ul>";
																}
														}
														printHTML += "</ul>";
														$('#YourCharacters').html(printHTML);	
												});
										});
											
                });   
								
            }
        });           
    });
</script>
  </body>
</html>


