<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> -->

    <title>Explosions! the web page</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

  </head>

  <body role="document">

    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Explosions!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a id="Home" href="#">Home</a></li>
            <li><a id="Leaderboard" href="#Leaderboard">Leaderboard</a></li>
            <li><a id="Items" href="#Items">Items</a></li>
            <li><a id="Marketplace" href="#Marketplace">Marketplace</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <!--<li class="dropdown">
              <a href="#Account" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a> -->
              <li><a id="Account" href="#Account">Login</a></li>
            <!--</li>-->
            <li><form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Go</button>
              </form></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="contents"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/docs.min.js"></script> -->

    <script src="static/jquery/jquery-1.10.2.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/util.js"></script>
    <script>
    /*$(function(){
        alert("Test");
        $('#Leaderboard').load('hello.html', function() {
            alert("Leaderboard");
            $('.nav a:contains("Home")').parent().addClass('active');
        })
    });*/

    $(function() {
        // TODO: switch all this to ajax
        var homehtml = "Home page. News?";

        $('#contents').ready(function() {
            $("#contents").html(homehtml);
        });

        $('#Home').on('click', function() {
            $('#contents').html(homehtml);
        });
        $('#Leaderboard').on('click', function() {
            $('#contents').html("Stats");
        });
        $('#Items').on('click', function() {
            $('#contents').html("Item Information");
        });
        $('#Marketplace').on('click', function() {
            $('#contents').html("Marketplace - Trade/Craft/Buy Items");
        });

        $("#Account").on('click', function() {
            window.location.replace("/login");
        }

        request("/player/current", {}, function(data, _1, _2) {
            if(data.result !== null) {
                var dropdown = '<li class="dropdown">';
                dropdown += '<a href="#Account" class="dropdown-toggle" data-toggle="dropdown"> ';
                dropdown += data.result;
                dropdown += ' <b class="caret"></b></a> ';
                dropdown += '<ul class="dropdown-menu"> ';
                dropdown += '<li><a id="Characters" href="#Characters">Characters</a></li> ';
                dropdown += '<li class="divider"></li> ';
                dropdown += '<li><a id="Logout" href="#Logout">Log out</a></li> ';
                dropdown += '</ul> ';
                dropdown += '</li> ';

                var $dropdown = $(dropdown);

                $("#Account").replaceWith($dropdown);

                $('#Logout').on('click', function() {
                    request("/logoutRequest", {}, function(data, _1, _2) {
                        window.location.replace("/");
                    });
                });
            }
        });
    
        $('#Characters').on('click', function() {
            data = {};
            $.ajax({
                type: "POST",
                url: "/character/getAll",
                data: JSON.stringify(data),
                success: function(data, _1, _2) {
                    var printHTML = "<h1>Your Characters:</h1> <br><br>"
                    printHTML += "<ol>";
                    for (var i=0; i < data['characters'].length; i++) {
                        var charname = data['characters'][i][2];
                        printHTML += "<li>" + charname + "</li>";
                    }
                    printHTML += "</ol>";
                    $('#contents').html(printHTML);            
                },
                contentType: 'application/json',
                dataType: "json"
            });
        });                
    });
</script>
  </body>
</html>


