<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Items</title>
</head>

<body>
<table class="table table-bordered" id = "items" cellpadding="10">
      <tr name="columns" >
        <th>Name</th>
        <th>Slot</th>
        <th>Desc</th>
        <th>Attr Name</th>
        <th>Attr Value</th>
        <th>Type</th>
</table>
<script>
$(function()
{
	var items = new Array();
	request("/item/getAll", {}, function(data, _1, _2)
	{
		items = data['equipment'];
	}).done(function()
	{
		fillTable("#items", items); //TODO: Does this need to be in .done?
	});
});
</script>
</body>
</html>
