<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Items</title>
</head>

<body>
<table class="table table-bordered" id = "items" cellpadding="10">
      <tr name="columns" >
        <th>Name</th>
        <th>Type</th>
        <th>Attributes</th>
        <th>Desc</th>
</table>
<div id="content"> </div>
<script>
$(function()
{
	var items;
	request("/item/getAll", {}, function(data, _1, _2)
	{
		items = data['items'];
		print = "";
		
		var table = $("#items").find('tbody');
		for (var i = 0; i < items.length; i++)
		{
			var item = items[i];
			var tr = insertRow(table);
			//Name
			insertCell(tr).append(item.name);
			//Type
			insertCell(tr).append(item.type);
			
			//Attribute inner table
			var attrTable = insertTable(insertCell(tr));
			attrTable.addClass('table table-bordered');
			attrTable.css('margin', '0px');
			for (var a = 0; a < items[i].attributes.length; a++)
			{
				var attr = item.attributes[a];
				var attrRow = insertRow(attrTable);
				insertCell(attrRow).append(attr.name);
				insertCell(attrRow).append(attr.value);
			}
			
			//Desc
			insertCell(tr).append(item.desc);
		}
	});
});
</script>
</body>
</html>
