<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Items</title>
</head>

<body>
<table class="table table-bordered" id = "items" cellpadding="10">
      <tr name="columns" >
        <th>Name</th>
        <th>Slot</th>
        <th>Desc</th>
        <th>Attr Name</th>
        <th>Attr Value</th>
        <th>Type</th>
</table>
<div id="content"> </div>
<script>
$(function()
{
	var items;
	request("/item/getAll", {}, function(data, _1, _2)
	{
		items = data['items'];
		print = "";
		
		for (var i = 0; i < items.length; i++)
		{
			print += items[i].name + ", " + items[i].type + ", " + items[i].desc + "<br>";
			for (var s = 0; s < items[i].slots.length; s++)
			{
				print += items[i].slots[s].name;
				if (s < items[i].slots.length - 1)
				{
					print += ", ";
				}
				else
				{
					print += "<br>";
				}
			}
			
			for (var a = 0; a < items[i].attributes.length; a++)
			{
				print += items[i].attributes[a].name;
				if (a < items[i].attributes.length - 1)
				{
					print += ", ";
				}
				else
				{
					print += "<br>"
				}
			}
		}
		
		document.getElementById("content").innerHTML = print;
		//fillTable("#items", items);
	});
});
</script>
</body>
</html>
