<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Missions</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>
  
    <div class="container">
      <form class="form-signin" id="shop-form" role="form" method="post">
      <h1 class="text-center">Missions</a></h6>
      <table class="table table-bordered" id = "missions" cellpadding="10">
      <tr name="data" >
        <th>Mission ID</th>
        <th>Mission Type</th>
        <th>Reward</th>
      </table>
      </form>
    </div>


    <script src="static/jquery/jquery-1.10.2.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
	
		<script>
			request("/mission/getAll", {}, function(data, _1, _2)
			{
					if (data['missions'] == null)
					{
							return;
					}
					var missions = new Array();
					var out = "";
					for (var i = 0; i < data['missions'].length; i++) {
							var mission = new Object();
							mission.ID =  data['missions'][i][0];
							mission.Type = data['missions'][i][1];

							out += "<tr> <td> Mission " + mission.ID + "</td>";
							out += "<td>" + mission.Type + "</td>";
							out += "<td>$100</td> </tr>";
					}
					$(out).appendTo("#missions");
					
			});
		</script>
  </body>
</html>
