<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Shop at Explosions</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  </head>

  <body onload="populatTable()">

    <div class="container">
      <form class="form-signin" id="shop-form" role="form" method="post">
      <h1 class="text-center">Shop</a></h6>

      <select id = "characters">
      </select>

      <table class="table table-bordered" id = "purchasables" cellpadding="10">
      <tr name="data" >
        <th>Item Name</th>
        <th>Item Cost</th>
        <th>Purchase</th>
      </table>
      </form>
    </div>


    <script src="static/jquery/jquery-1.10.2.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

    <script>
      //populates the character datalist

      var characters = new Array();
      request("/character/getAll", {}, function(data, _1, _2)
      {
          for (var i=0; i < data['characters'].length; i++)
          {
              var character = new Object();
              character.id   = data['characters'][i][0];
              character.name = data['characters'][i][2];

              characters.push(character);
          }
      }).done(function()
      {
        /*var options;
        for (var i = 0; i < characters.length; i++)
        {
            options += '<option value = ' + characters[i].id + '>' + characters[i].name + '</option>';
        }
        $(options).appendTo("#characters");*/
      });

      request("/getPurchasables", {}, function(data, _1, _2)
      {
		  var items = data['purchasables'];
		var table = $("#purchasables");
        for (var i = 0; i < items.length; i++)
        {
			var item = items[i];
			var row = insertRow(table);
			row.attr('id', i);
			insertCell(row).append(item.name);
			insertCell(row).append(item.cost);
			var btnCell = insertCell(row);
			var btn = insert(btnCell, 'button');
			btn.attr('id', 'purchasebtn');
			//TODO: USE RECIPE ID for purchasing
        }

        //takes the index of the row clicked and sends the appropriate recipe request

        $("#purchasables" ).on('click', '#purchasebtn', function(event) {
            event.preventDefault();
            var i = $(this).parent().parent().index();
            var selectedChar = document.getElementId('characters');

            var jsonArg = new Object();
            jsonArg.recipe = items[i].recipe;
            jsonArg.charid = selectedChar;

            //Should be using the util.js function "request".

            $.ajax({
                type: "POST",
                url: "/use_recipe",
                data: JSON.stringify(jsonArg),
                success: function(data, _1, _2) {
                    if(data.result) {
                        window.location.replace("/");
                    } else {
                        window.location.replace("/failpurchase");
                    }
                },
                contentType: 'application/json',
                dataType: "json"
            });
        });
      }).done(function()
      {
        
      });
    </script>
  </body>
</html>
